.userCard {
  padding: 1rem;
  width: 100%;
  margin-block: 1rem;
}

.userCard__img {
  width: 10rem;
  aspect-ratio: 1;
  object-fit: cover;
}

.userCard__name {
  font-size: 3rem;
  font-weight: bold;
}

@media only screen and (max-width: 580px) {
  .userCard {
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    text-align: center;
  }

  .userCard__img {
    border-radius: 50%;
  }
}
