@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg-primary: #222831;
  --clr-bg-secondary: #393e46;
  --clr-primary: #00adb5;
  --clr-secondary: #eeeeee;
}

body {
  background-color: var(--clr-bg-primary);
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/* general utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.bg-primary {
  background-color: var(--clr-bg-primary);
}

.bg-secondary {
  background-color: var(--clr-bg-secondary);
}

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.ff-montserrat {
  font-family: "Montserrat", sans-serif;
}
